name: Ejecutar JMeter en Windows
 
on:
  workflow_dispatch:
 
jobs:
  run-jmeter-windows:
    runs-on: windows-latest
 
    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v3
 
    - name: Descargar Apache JMeter 5.6.3
      run: |
       curl -LO https://downloads.apache.org/jmeter/binaries/apache-jmeter-5.6.3.zip
       tar -xf apache-jmeter-5.6.3.zip
       shell: pwsh
 
    - name: Descargar Plugin XML Format Post Processor
      run: |
        curl -L -o xml-formatter.jar https://jmeter-plugins.org/files/packages/xml-formatter-0.1.jar
        copy xml-formatter.jar apache-jmeter-5.6.3\lib\ext\
        shell: cmd
 
    - name: Agregar JMeter al PATH
      run: |
        echo "$PWD\\apache-jmeter-5.6.3\\bin" >> $env:GITHUB_PATH
        echo "JMETER_HOME=$PWD\\apache-jmeter-5.6.3" >> $env:GITHUB_ENV
      shell: pwsh
 
    - name: Verificar JMeter instalado
      run: jmeter --version
      shell: cmd
 
    - name: Ejecutar BAT_PRUEBA.bat
      run: .\BAT_PRUEBA.bat . 1 5
      shell: cmd
 
    - name: Subir reportes como artefactos
      uses: actions/upload-artifact@v4
      with:
        name: reportes-jmeter-windows
        path: Escenario*/Dashboard
